body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.readmore {
    margin-left: 5px;
    margin-top: -5px;
}

.readmore a:hover {
    color: gold !important;
}

.readmore:hover {
    color: gold !important;
}

.post-title-link h2:hover {
    color: gold !important;
}

.searchbtn {
    background: #7d0000;
    border-color: #7d0000;
}

.searchbtn:hover {
    border-color: gold !important;
}

.pagination li .active,
.disabled {
    color: white;
    background-color: #7d0000 !important;
    border-color: #7d0000 !important;
    cursor: pointer;
}

.pagination li .active,
.disabled:hover {
    color: gold;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-default {
    border-color: #e7e7e7;
    font-family: 'Lora', serif;
    color: #7d0000 !important;
    font-size: 30px;
}

.navbar-brand {
    color: #FFFFFF !important;
    font-size: 30px;
}

.navbar-nav>li>a {
    color: #FFFFFF !important;
    font-size: 25px;
}

header.intro-header {
    font-family: 'Lora', serif;
    font-size: 5.625rem;
    color: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-bottom: 40px;
}

header.intro-header a {
    text-decoration: none;
}

.well {
    background-color: black;
    box-shadow: none;
    border: 1px solid #E7E7E7;
}

p {
    color: white;
    font-size: 16px;
}

.well li {
    color: white;
}

.post-list {
    padding-bottom: 15px;
}


a {
    color: #7d0000;
    font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
}

.excerpt p {
    color: white;
}

.author {
    color: white;
}

a:focus,
a:hover {
    color: gold;
    text-decoration: underline;
}

.heading {
    margin-right: 0px;
    font-family: 'Lora', serif !important;
    font-size: 5.625rem !important;
}

.btn-default.adhiraiyanblog {
    background-color: black;
    height: 35px;
    width: 90px;
    float: right;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
}

.btn-default.adhiraiyanblog:hover {
    color: #7d0000;
    background-color: black;
    border-color: #adadad;
    font-size: 16px;
}


.title-image {
    width: 50px;
}

.pagination ul>li>a:hover {
    background-color: #7d0000;
    color: #fff;
}

.pagination ul>li>a,
.pagination ul>li>span {
    display: inline;
    padding: 5px 12px;
    line-height: 35px;
    text-decoration: none;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.pagination ul>li {
    display: inline;
}

a h2 {
    color: #7d0000;
    text-decoration: none;
}

#mc_embed_signup .button:hover {
    color: gold;
}

#mc_embed_signup .button {
    background-color: #7d0000 !important;
}

#mc_embed_signup .button {
    clear: both;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: rgb(250, 243, 243);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#mc_embed_signup {
    background: black;
    clear: left;
    font-family: 'Open Sans', sans-serif;
}

#mc_embed_signup label {
    color: white;
}

.indicates-required {
    color: white;
}

ul.posts {
    list-style-image: url('../img/code.png');
}


/* Share buttons */
.sharebuttons {
    margin: 0 auto 0 auto;
}

.sharebuttons ul {
    margin: 20px 0 0 0;
    text-align: center;
}

.sharebuttons ul li {
    display: inline;
}

.sharebuttons ul li a {
    text-decoration: none;
}

.sharebuttons ul li svg {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.sharebuttons .twitter svg {
    fill: #7d0000;
}

.sharebuttons .twitter svg:hover {
    fill: gold;
}

.sharebuttons .linkedin svg {
    fill: #7d0000;
}

.sharebuttons .linkedin svg:hover {
    fill: gold;
}

.sharebuttons .facebook svg {
    fill: #7d0000;
}

.sharebuttons .facebook svg:hover {
    fill: gold;
}

li {
    color: white;
}

td {
    color: white;
}

.center-image {
    margin: 0 auto;
    display: block;
}

/* Code highlight */

pre {
    background: black;
}

table.rouge-table {
    background: black !important;
}

td.code {
    background: black !important;
}

.lineno {
    color: white;
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #f8f8f8;
}

.highlight .c {
    color: #008800;
    font-style: italic
}

/* Comment */
.highlight .err {
    border: 1px solid #FF0000
}

/* Error */
.highlight .k {
    color: #AA22FF;
    font-weight: bold
}

/* Keyword */
.highlight .o {
    color: #666666
}

/* Operator */
.highlight .ch {
    color: #008800;
    font-style: italic
}

/* Comment.Hashbang */
.highlight .cm {
    color: #008800;
    font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
    color: #008800
}

/* Comment.Preproc */
.highlight .cpf {
    color: #008800;
    font-style: italic
}

/* Comment.PreprocFile */
.highlight .c1 {
    color: #008800;
    font-style: italic
}

/* Comment.Single */
.highlight .cs {
    color: #008800;
    font-weight: bold
}

/* Comment.Special */
.highlight .gd {
    color: #A00000
}

/* Generic.Deleted */
.highlight .ge {
    font-style: italic
}

/* Generic.Emph */
.highlight .gr {
    color: #FF0000
}

/* Generic.Error */
.highlight .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
    color: #00A000
}

/* Generic.Inserted */
.highlight .go {
    color: #888888
}

/* Generic.Output */
.highlight .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
    color: #0044DD
}

/* Generic.Traceback */
.highlight .kc {
    color: #AA22FF;
    font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
    color: #AA22FF;
    font-weight: bold
}

/* Keyword.Declaration */
.highlight .kn {
    color: #AA22FF;
    font-weight: bold
}

/* Keyword.Namespace */
.highlight .kp {
    color: #AA22FF
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #AA22FF;
    font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
    color: #00BB00;
    font-weight: bold
}

/* Keyword.Type */
.highlight .m {
    color: #666666
}

/* Literal.Number */
.highlight .s {
    color: #BB4444
}

/* Literal.String */
.highlight .na {
    color: #BB4444
}

/* Name.Attribute */
.highlight .n {
    color: white
}

/* variable*/
.highlight .p {
    color: white
}

/* brackets */
.highlight .nb {
    color: #AA22FF
}

/* Name.Builtin */
.highlight .nc {
    color: #0000FF
}

/* Name.Class */
.highlight .no {
    color: #880000
}

/* Name.Constant */
.highlight .nd {
    color: #AA22FF
}

/* Name.Decorator */
.highlight .ni {
    color: #999999;
    font-weight: bold
}

/* Name.Entity */
.highlight .ne {
    color: #D2413A;
    font-weight: bold
}

/* Name.Exception */
.highlight .nf {
    color: #00A000
}

/* Name.Function */
.highlight .nl {
    color: #A0A000
}

/* Name.Label */
.highlight .nn {
    color: #0000FF;
    font-weight: bold
}

/* Name.Namespace */
.highlight .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Tag */
.highlight .nv {
    color: #B8860B
}

/* Name.Variable */
.highlight .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mb {
    color: #666666
}

/* Literal.Number.Bin */
.highlight .mf {
    color: #666666
}

/* Literal.Number.Float */
.highlight .mh {
    color: #666666
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #666666
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #666666
}

/* Literal.Number.Oct */
.highlight .sa {
    color: #BB4444
}

/* Literal.String.Affix */
.highlight .sb {
    color: #BB4444
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #BB4444
}

/* Literal.String.Char */
.highlight .dl {
    color: #BB4444
}

/* Literal.String.Delimiter */
.highlight .sd {
    color: #BB4444;
    font-style: italic
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #BB4444
}

/* Literal.String.Double */
.highlight .se {
    color: #BB6622;
    font-weight: bold
}

/* Literal.String.Escape */
.highlight .sh {
    color: #BB4444
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #BB6688;
    font-weight: bold
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #008000
}

/* Literal.String.Other */
.highlight .sr {
    color: #BB6688
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #BB4444
}

/* Literal.String.Single */
.highlight .ss {
    color: #B8860B
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #AA22FF
}

/* Name.Builtin.Pseudo */
.highlight .fm {
    color: #00A000
}

/* Name.Function.Magic */
.highlight .vc {
    color: #B8860B
}

/* Name.Variable.Class */
.highlight .vg {
    color: #B8860B
}

/* Name.Variable.Global */
.highlight .vi {
    color: #B8860B
}

/* Name.Variable.Instance */
.highlight .vm {
    color: #B8860B
}

/* Name.Variable.Magic */
.highlight .il {
    color: #666666
}

/* Literal.Number.Integer.Long */
