<head>


    <!---------------------------------------- Google Analytics: ----------------------------------->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138778310-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-138778310-1');
    </script>

    <!---------------------------------------- Meta Details: ----------------------------------->


    <!-------------------------------------- SEO meta details ----------------------------------->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-------------------------------------- My meta details ------------------------------------->
    <link href='../adhirayan.ico' type='image/icon' rel='shortcut icon' />

    <!-- <link href='{{ "img/adhirayan.ico" | prepend: site.baseurl }}' type='image/icon' rel='shortcut icon' /> -->
    <title>Adhiraiyan AI Blog by Mukesh Mithrakumar</title>
    <meta name="description" content="A Blog on all things AI. Topics range from Machine Learning,
    Deep Learning, Algorithms and Data Structures to the broader Artificial Intelligence principles." />


    <!-------------------------------------- Social meta details ----------------------------------->

    <meta property="og:title" content="Adhiraiyan AI Blog by Mukesh Mithrakumar">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.adhiraiyan.org/img/BlogLogo.png" />
    <meta property="og:description" content="A Blog on all things AI. Topics range from Machine Learning,
    Deep Learning, Algorithms and Data Structures to the broader Artificial Intelligence principles.">
    <meta property="og:url" content="https://www.adhiraiyan.org/" />
    <meta name="twitter:card" content="summary">
    <meta property="og:site_name" content="Adhiraiyan AI Blog by Mukesh Mithrakumar">
    <meta property="fb:app_id" content="340066710192504" />
    <meta expr:content='data:blog.postImageUrl' property='og:image' />

    <!---------------------------------------- CSS Files: ----------------------------------------
    Bootstrap| Stylesheet| Font Awesome| Google Fonts| Mailchimp| Mathjax
    ---------------------------------------------------------------------------------------------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ "/css/simple-sidebar.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link href='https://adhiraiyan.github.io/feed.xml' rel='alternate' type='application/atom+xml'>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true,
        }
        });
      </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <!-- share this -->
    <script type="text/javascript">
        var switchTo5x = true;
    </script>
    <script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
        stLight.options({
            publisher: "b28464c3-d287-4257-ad18-058346dd35f7",
            doNotHash: false,
            doNotCopy: false,
            hashAddressBar: false
        });
    </script>

    <script async src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
