<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}

    <!-------------------------------------- Page Content ------------------------------------>

    <div class="container">
      <div>
        <img alt="Mukesh Mithrakumar" src="./img/profilepic.jpg" align="left" width="275"
          style="padding-right:20px; padding-bottom:20px; border-radius:5%;" />

        <p>
          Hi 😃, I'm Mukesh, Welcome to my Blog.
        </p>

        <p>
          My background is in Electrical Engineering and Physics and I started my machine learning journey 4 years back
          as an undergraduate researcher and taught myself everything I know with the help of online resources,
          few great mentors and great projects from work. And now, I consult for startups and a few big companies and
          I mentor learners like you.
        </p>

        <p>
          From my time mentoring students from a wide range of background, I found three major groups who lack the
          necessary resources and I write this blog for you all:<br>
          1. Students looking to get a deeper understanding of Artificial Intelligence principles.
          I would highly recommend starting from <a href="https://www.adhiraiyan.org/ai/what-it-means-to-have-ai">What
            it means to have Artificial Intelligence</a> so we are on the same
          page. <br>
          2. Data Scientists working in the industry looking to learn about best Machine Learning practices
          and tools to make their work easy.<br>
          3. Business professionals looking to learn about the value AI can bring to your business.<br>
        </p>

        <p>
          My mission is to build a platform for you where you can come to learn about Everything related to Artificial
          Intelligence.
        </p>

        <p style="margin-top:20px">
          To get notified when I post new content you can Follow me on <a
            href="https://www.linkedin.com/in/mukesh-mithrakumar/">LinkedIn</a>,
          <a href="https://twitter.com/MMithrakumar">Twitter</a> or
          <a href="https://www.facebook.com/adhiraiyan/">Facebook</a>.
          You can also <a href="./">Subscribe</a> to get the email updates to your inbox. Trust me,
          I hate spam just as much as you do 😉.
        </p>

        <p style="margin-top:10px">
          New content will be posted every Tuesday at 11am EST | 3pm UTC time 🕙.
        </p>

        <p style="margin-top:10px">
          The posts will be in Question and Answer format to be able to be searchable so if you need to review
          something quick, you will be able to search for only that using the <a href="/search.html">Posts
            Search</a>.
        </p>

        <p style="margin-top:40px;">
          If you like my Blog, you might also like my FREE book on
          <a href="../DeepLearningWithTensorflow.html">Deep Learning with Tensorflow 2.0</a>
        </p>

        <a href="../DeepLearningWithTensorflow.html"><img alt="Deep Learning with TF 2.0"
            src="./img/deeplearning/deeplearningwithtf/DLBookCover1.png" width="175" align="left"
            style="padding-right:20px;" />
        </a>
        <p style="margin-top:290px;">Thank you for visiting ❤️.</p>

      </div>
    </div>

    <hr>
    {% include footer.html %}

  </div>
</body>

</html>
