<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}

    <!-------------------------------------- Page Content ------------------------------------>

    <div class="container">
      <div>
        <img alt="Mukesh Mithrakumar" src="./img/profilepic.jpg" align="left" width="275"
          style="padding-right:20px; padding-bottom:20px; border-radius:5%;" />

        <p>
          Hi 😃, I'm Mukesh, Welcome to my Blog.
        </p>

        <p>
          My mission is to build a platform for you where you can come to learn about Everything related to
          Artificial Intelligence.
        </p>

        <p style="margin-top:20px">
          To get notified when I post new content you can Follow me on <a
            href="https://www.linkedin.com/in/mukesh-mithrakumar/">LinkedIn</a>,
          <a href="https://twitter.com/MMithrakumar">Twitter</a> or
          <a href="https://www.facebook.com/adhiraiyan/">Facebook</a>.
          You can also <a href="./">Subscribe</a> to get the email updates to your inbox and Trust me,
          I hate spam just as much as you do 😉.
        </p>

        <p style="margin-top:10px">
          New content will be posted every Tuesday at 11am EST time 🕙.
        </p>

        <p style="margin-top:10px">
          The posts will be in Question and Answer format to be able to be searchable so if you need to review
          something quick, you will be able to search for only that using the <a href="/search.html">Posts
            Search</a>.
        </p>

        <p style="margin-top:50px;">
          If you like my Blog, you might also like my book on
          <a href="../books.html">Deep Learning with Tensorflow 2.0</a>
        </p>

        <a href="../books.html"><img alt="Deep Learning with TF 2.0"
            src="./img/deeplearning/deep-learning-with-tf/Deeplearningwithtensorflow2.PNG" width="175" align="left"
            style="padding-right:20px;" />
        </a>
        <p style="margin-top:300px;">Thank you for visiting ❤️.</p>

      </div>
    </div>

    <hr>
    {% include footer.html %}

  </div>
</body>

</html>
